#register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  border-radius: 5px;
}
.RegisterForm .form {
  width: 330px;
  height: 380px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.RegisterForm button {
  color: black;
}
.form input {
  border-radius: 5px;
  padding: 5px;
  color: black;
  border: 1px solid gray;
}
#register-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 18px;
  background-color: rgb(255, 0, 121);
  color: white;
  width: 100%;
}
#register-btn:hover {
  background-color: black;
  color: white;
}
#pre {
  color: red;
}
pre {
  font-size: 13px;
  height: 15px;
  margin: 5px;
  overflow: hidden;
}
img {
  width: 30px;
  object-fit: contain;
  background-color: transparent;
  border-radius: 5px;
}
