.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 25%;
}
.profile p {
  margin: 15px;
  text-transform: capitalize;
}
.profile img {
  border: 1px solid rgb(255, 0, 121);
  border-radius: 50%;
  width: 100px;
  object-fit: contain;
}
.profile .loginoutbtn {
  width: max-content;
  background-color: black;
  color: white;
}
.profile .loginoutbtn:hover {
  background-color: rgb(255, 0, 121);
}
.profile .btn-close {
  box-shadow: none;
}
